.header-typography-style {
  color: white !important;
}
.header-typography-style:hover {
  color: lightgreen !important;
  transition: 1000ms ease-in;
}

.divider {
  color: white;
}
.header-icons {
  display: none;
}
.logout-icon {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.nav-logo {
  font-family: cursive;
  font-size: 1.5rem;
  color: green;
}
.nav-logo:hover {
  color: darkgreen;
}

@media screen and (max-width: 991px) {
  .header-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .desktop-class {
    display: none;
  }
}

.header-typography-style.active {
  color: lightgreen !important;
}
