.login-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: double;
  border-width: 0.5cm;
  background-image: linear-gradient(to bottom right, #2193b0, #6dd5ed);
  height: 100vh;
  overflow: none;
}

.inner-div {
  height: 80vh;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 70vw;
  padding: 10px;
  background-color: white;
  border: 5px solid darkblue;
  border-radius: 30px;
}

.left-side {
  width: 50%;
  background-image: url("./../../../assets/examPic.jpg");
  background-size: cover;
  border-radius: 20px;
}

.side-text {
  color: darkblue;
  align-items: center;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-left: 0.5em;
}

.text-fields {
  border: none;
  border-bottom: 2px solid rgb(56, 56, 56);
  padding-left: 10px;
  padding-bottom: 5px;
}

.text-fields:focus {
  outline: none;
}

.header {
  color: darkblue;
  font-size: 4em;
  font-weight: bold;
}
